<div style="width: 1280px;margin: auto;">
  <div class="footer-rectangle"  > 
    <div>
      <div>
        <img src="./../../assets/img/logo-copy.png" class="Logo-copy" />
      </div>
      <div class="content">
        Firma vznikla v roce 1994. Zakladatelem a majitelem je Vladislav Dlouhý jako
        fyzická osoba a jako firemní obchodní jméno byl určen název KLIMAX. Hlavní
        činností firmy je od prvopočátku výroba, dodávka, montáž a servis
        vzduchotechniky a klimatizace ve všech kombinacích.
      </div>
    </div>
    <div>
      <div class="NABDKA">
        NABÍDKA
      </div>
      <div class="DOM-O-NS-SLUBY-KONTAKT">
        DOMŮ
        O NÁS
        SLUŽBY
        KONTAKT
      </div>
    </div>
  
    <div>
      <div class="RYCHL-KONTAKT">
        RYCHLÝ KONTAKT
      </div>
      <div class="KLIMAX-Teplice-sro-Teplick-45-417-23-Koany-u-Teplic-Tele"> 
        KLIMAX Teplice s.r.o.
        Teplická 45
        417 23, Košťany u Teplic
        Telefon :+420 417 568 023
        Fax :+420 417 568 082
        e-mail: info@klimax.cz
        
        IČO: 25409174
        DIČ: CZ25409174
      </div>
    </div>
    <div>
      <div class="sociln-st ">
        sociální sítě
      </div>
      <div>
        <img src="./../../assets/img/facebook.png" alt="" class="facebook">
      </div>
  
      <div>
        <img src="./../../assets/img/linkedin.png" alt="" class="linkedin">
      </div>
  
      <div>
        <img src="./../../assets/img/google-plus.png" alt="" class="google-plus">
      </div>
  
    </div>
  </div>
  
</div>