<div style="max-width: 1280px; margin: auto; position: relative">
  <div style="width: 100%">
    <div class="top-sentence">Váš partner v prodeji a servisu klimatizací</div>
    <div class="Rounded-Rectangle-3">
      <div class="Rounded-Rectangle-Text">Výhody partnerství</div>
    </div>
  </div>
  <div>
    <img src="./../../assets/img/content-image.png" class="content-image" />
  </div>

  <div>
    <img src="./../../assets/img/shape-3.svg" class="Shape-3" />
    <div class="Jsme-distributoi">Jsme distributoři</div>
    <div>
      <div>
        <img src="./../../assets/img/toshiba.png" class="toshiba" />
      </div>
      <div class="toshiba-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et
        lectus ut urna porta malesuada id sed magna. Quisque ut risus dolor.
      </div>
      <div class="toshiba-rounded-rect">
        <p class="Chci-vce-informac">Chci více informací</p>
      </div>
      <div class="toshiba-line"></div>
    </div>

    <div>
      <div>
        <img src="./../../assets/img/hokkaido.png" class="hokkaido" />
      </div>
      <div class="hokkaido-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et
        lectus ut urna porta malesuada id sed magna. Quisque ut risus dolor.
      </div>
      <div class="hokkaido-rounded-rect">
        <p class="Chci-vce-informac">Chci více informací</p>
      </div>
      <div class="hokkaido-line"></div>
    </div>

    <div>
      <div>
        <img src="./../../assets/img/inventor.png" class="inventor" />
      </div>
      <div class="inventor-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et
        lectus ut urna porta malesuada id sed magna. Quisque ut risus dolor.
      </div>
      <div class="inventor-rounded-rect">
        <p class="Chci-vce-informac">Chci více informací</p>
      </div>
    </div>
  </div>
  <div>
    <div class="KLIMAX-TEPLICE-sro-spolupracuje-s">
      KLIMAX TEPLICE s.r.o. spolupracuje s
    </div>
    <div class="rotujc-slider-s-logama">*rotující slider s logama</div>
  </div>
  <div>
    <div>
      <img src="./../../assets/img/omv-svg.png" class="OMVsvg" />
    </div>
    <div>
      <img
        src="./../../assets/img/veolia-logo-with-text.png"
        class="Veolia-Logo-with-text"
      />
    </div>
    <div>
      <img src="./../../assets/img/e-logo.png" class="e-logo" />
    </div>
    <div>
      <img src="./../../assets/img/bata.png" class="bata" />
    </div>
  </div>

  <div class="rectangle-services">
    <div style="position: relative">
      <div class="Poskytujeme-vm">Poskytujeme vám</div>
      <div class="content-grey">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
        bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra
        justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam
        fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci,
        sed rhoncus sapien nunc eget. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
        sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
        tempor. Cum sociis natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate,
        felis tellus mollis orci, sed rhoncus sapien nunc eget.
      </div>
      <div>
        <div>
          <img src="./../../assets/img/kosik.png" class="kosik" />
          <div class="Prodej-klimatizac">Prodej klimatizací</div>
          <div class="kosik-line-horizontal"></div>
          <div class="kosik-line-verticle"></div>
        </div>
        <div>
          <img src="./../../assets/img/auto.png" class="auto" />
          <div class="servis-autoklimatizac">servis autoklimatizací</div>
          <div class="auto-line-horizontal"></div>
          <div class="auto-line-verticle"></div>
        </div>
        <div>
          <img src="./../../assets/img/services.png" class="services" />
          <div class="servis-vzduchotechniky">servis vzduchotechniky</div>
          <div class="services-line-horizontal"></div>
          <!-- <div class="services-line-verticle"></div> -->
        </div>
        <div>
          <img src="./../../assets/img/servis.png" class="servis" />
          <div class="servisn-innost">Servisní činnost</div>
          <!-- <div class="servis-line-horizontal"></div> -->
          <div class="servis-line-verticle"></div>
        </div>
        <div>
          <img src="./../../assets/img/mapa.png" class="mapa" />
          <div class="dorazme-kamkoliv">dorazíme kamkoliv</div>
          <!-- <div class="mapa-line-horizontal"></div> -->
          <div class="mapa-line-verticle"></div>
        </div>
        <div>
          <img src="./../../assets/img/settings.png" class="settings" />
          <div class="Odborn-monte">Odborné montáže</div>
          <!-- <div class="settings-line-horizontal"></div> -->
          <!-- <div class="services-line-verticle"></div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="blue-rectangle">
    <div class="rounded-rectangle-blue">
      <div class="Nae-reference">Naše reference</div>
    </div>
  </div>
  <div>
    <div>
      <div class="Novinky">Novinky</div>
      <div class="Toshiba-uvd-na-trh-nov-model">
        Toshiba uvádí na trh nový model
      </div>
      <div class="novinky-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis
        ex velit. Duis lacinia sapien sit amet mauris feugiat placerat. Quisque
        aliquam gravida neque non auctor. Praesent velit leo, rhoncus ut mattis
        eget, pharetra at odio. Nulla pellentesque vehicula diam, et laoreet
        nisi hendrerit convallis. Sed elementum leo id elit faucibus, et tempus
        ante tempor. Nam varius aliquet eros, non rutrum justo lacinia eu. Fusce
        porttitor nunc at diam consectetur scelerisque.
      </div>
      <div class="Vechny-novinky-rectangle">
        <div class="Vechny-novinky">Všechny novinky</div>
      </div>
    </div>
    <div>
      <div>
        <img src="./../../assets/img/ac-machines.png" class="ac-machines" />
      </div>
    </div>
  </div>
  <div>
    <div>
      <div>
        <img src="./../../assets/img/tel.svg" class="tel" />
      </div>
      <div class="tel-num">+420 123 456 789</div>
    </div>
    <div class="hor-line"></div>
    <div>
      <div>
        <img src="./../../assets/img/mail.svg" class="mail" />
      </div>
      <div class="email">info@klimax.cz</div>
    </div>
  </div>
</div>
